<a href="https://colab.research.google.com/github/HS587885/Mini_Project/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%9D%BC%EB%B2%A8%EB%A7%81_%EC%95%84%EB%A1%9C%EB%82%98%EB%AF%BC%EA%B3%A8%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np
import re

In [ ]:
aronamin = pd.read_excel('/content/아로나민골드 유 레이블.xlsx')
aronamin

     Unnamed: 0                                            comment  label
0          1587  선물️ #깜짝선물 #감동100배 #광동제약 #아로나민골드 #똥지니#용지니##옴팡이 ...    1.0
1          2204  나도 이제 먹어볼래 #피로회복제 #아로나민골드 #아로나민씨플러스 #느낌적인느낌 인지...    1.0
2           772  여의도점 대청소날! . . . 깨끗한 환경을 위해 항상 쾌적하게 . . . @nnc...    3.0
3          1732  동탄에서 강릉갔다가 아쉬워서 춘천와서 닭갈비,회,쟁반막국수,수육,옛날통닭먹고 컴백홈...    3.0
4           387  * 아로나민 덕분에 난 지하철 사연녀가 되었ㄷr..... _ 조우진 배우와 함께하는...    3.0
..          ...                                                ...    ...
494          86                                       \n본격 1일 차\n     3.0
495        1389  11월 12일부터 빠졌던 옷소매 붉은끝동..거의 2달 내내 책과 드라마에 빠져 지냈...    3.0
496         123                                 \n아로나민골드가격 알아보아요~~    1.0
497        1334  ​현재 체중 : -1.3kg​영양제 : 아로나민골드, 센트룸, 아침 : 프렌치카페 ...    1.0
498        1125  안녕하세요요리하는영이입니다.  오늘은 #베이컨마늘볶음밥준비해보았습니다.​너무나도 간...    3.0

[499 rows x 3 columns]

In [ ]:
aronamin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  499 non-null    int64
 1   comment     492 non-null    object
 2   label       494 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.8+ KB

In [ ]:
aronamin["label1"]=np.random.randint(3)
del aronamin['Unnamed: 0']
aronamin.info()
aronamin

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 499 entries, 0 to 498
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  492 non-null    object
 1   label    494 non-null    float64
 2   label1   499 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 11.8+ KB

                                               comment  label  label1
0    선물️ #깜짝선물 #감동100배 #광동제약 #아로나민골드 #똥지니#용지니##옴팡이 ...    1.0       2
1    나도 이제 먹어볼래 #피로회복제 #아로나민골드 #아로나민씨플러스 #느낌적인느낌 인지...    1.0       2
2    여의도점 대청소날! . . . 깨끗한 환경을 위해 항상 쾌적하게 . . . @nnc...    3.0       2
3    동탄에서 강릉갔다가 아쉬워서 춘천와서 닭갈비,회,쟁반막국수,수육,옛날통닭먹고 컴백홈...    3.0       2
4    * 아로나민 덕분에 난 지하철 사연녀가 되었ㄷr..... _ 조우진 배우와 함께하는...    3.0       2
..                                                 ...    ...     ...
494                                       \n본격 1일 차\n     3.0       2
495  11월 12일부터 빠졌던 옷소매 붉은끝동..거의 2달 내내 책과 드라마에 빠져 지냈...    3.0       2
496                                 \n아로나민골드가격 알아보아요~~    1.0       2
497  ​현재 체중 : -1.3kg​영양제 : 아로나민골드, 센트룸, 아침 : 프렌치카페 ...    1.0       2
498  안녕하세요요리하는영이입니다.  오늘은 #베이컨마늘볶음밥준비해보았습니다.​너무나도 간...    3.0       2

[499 rows x 3 columns]

In [ ]:
aronamin['comment'] = aronamin['comment'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
aronamin['comment'].replace('', np.nan, inplace=True)
aronamin = aronamin.dropna(how='any') # Null 값 제거
print(aronamin.isnull().sum())

comment    0
label      0
label1     0
dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [ ]:
aronamin = aronamin.astype({'comment': 'str'})
aronamin = aronamin.astype({'label': 'int'})

print(aronamin.dtypes)
print(aronamin.info())

comment    object
label       int64
label1      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 490 entries, 0 to 498
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   comment  490 non-null    object
 1   label    490 non-null    int64
 2   label1   490 non-null    int64
dtypes: int64(2), object(1)
memory usage: 15.3+ KB
None

In [ ]:
myStr = "abcdefghijklmn"
search = "b"

result = myStr.find(search)
print(result)

1

In [ ]:
for i in aronamin['comment']:
  text1 = re.sub(r'[^\.\?\!\s\w\d]', ' ', i)
  text1 = re.sub(r'([\.\?\!])',r'\1 ', text1)
  sentences = re.split(r'[\.\?\!]\s+', text1)
  
#sentences = [komoran.nouns(sentence) for sentence in sentences if len(sentence)>0]

In [ ]:
#del aronamin['number']

In [ ]:
aronamin

                                               comment  label  label1
0                선물 깜짝선물 감동배 광동제약 아로나민골드 똥지니용지니옴팡이 이정도      1       2
1       나도 이제 먹어볼래 피로회복제 아로나민골드 아로나민씨플러스 느낌적인느낌 인지 몰라도      1       2
2                  여의도점 대청소날    깨끗한 환경을 위해 항상 쾌적하게          3       2
3       동탄에서 강릉갔다가 아쉬워서 춘천와서 닭갈비회쟁반막국수수육옛날통닭먹고 컴백홈했쥬        3       2
4             아로나민 덕분에 난 지하철 사연녀가 되었ㄷ  조우진 배우와 함께하는 아로      3       2
..                                                 ...    ...     ...
494                                            본격 일 차       3       2
495  월 일부터 빠졌던 옷소매 붉은끝동거의 달 내내 책과 드라마에 빠져 지냈다 책만 산게...      3       2
496                                     아로나민골드가격 알아보아요      1       2
497  현재 체중  영양제  아로나민골드 센트룸 아침  프렌치카페 하프칼로리 바나나점심  ...      1       2
498  안녕하세요요리하는영이입니다  오늘은 베이컨마늘볶음밥준비해보았습니다너무나도 간단한 볶...      3       2

[490 rows x 3 columns]

In [ ]:
# 긍정
str1 = '괜찮'
str2 = '기념'
str3 = '먹어볼래'
str4 = '선물'
str5 = '나이'
str6 = '필요해'
# 부정
str11 = '로도'
str12= '미비'
str13 = '별로'
str14 = ' 안 '
str15= '안 맞아'
str16 = '먹어볼래'

j = -1
for i in aronamin['comment']:
    j += 1
    if '선물' in i or '필요해' in i:
       aronamin.iloc[j,-1] = 1

    elif  '괜찮' in i or  '기념' in i:
      aronamin.iloc[j,-1] = 1

    elif '생파' in i or '버티' in i:
       aronamin.iloc[j,-1] = 1

    elif  '샀다' in i or  '삿다' in i:
      aronamin.iloc[j,-1] = 1

    elif  '챙기자' in i or  '사준' in i:
      aronamin.iloc[j,-1] = 1

    elif  '아로나민골드' in i and  '멀티비타민' in i:
      aronamin.iloc[j,-1] = 1
    
    elif  '감사' in i or  '피로회복' in i:
      aronamin.iloc[j,-1] = 1
    
    elif  '고마' in i or  '드신' in i:
      aronamin.iloc[j,-1] = 1

    elif '나이' in i or '먹어볼래' in i:
       aronamin.iloc[j,-1] = 1
#
    elif  '매일먹' in i or  '무슨말이' in i:
      aronamin.iloc[j,-1] = 1

    elif '덜나른 ' in i or '덜 피곤' in i:
       aronamin.iloc[j,-1] = 1

    elif  '사다준 아' in i or  '사오심' in i:
      aronamin.iloc[j,-1] = 1

    elif  '무야댈판' in i or  '구매' in i:
      aronamin.iloc[j,-1] = 1
    elif '광고아님' in i or '버텨' in i:
      aronamin.iloc[j,-1] = 1

    elif  '아로나민' in i and  '먹은날' in i:
      aronamin.iloc[j,-1] = 1
    
    elif  '나아지' in i and  '피로야가' in i:
      aronamin.iloc[j,-1] = 1
    
    elif  '아로나민' in i and  '좋음' in i:
      aronamin.iloc[j,-1] = 1

    elif '아로나민' in i and '최고' in i:
       aronamin.iloc[j,-1] = 1

    elif '아로나민' in i and '주' in i:
       aronamin.iloc[j,-1] = 1
    elif '아로나민' in i and '사줌' in i:
       aronamin.iloc[j,-1] = 1
    elif '아로나민' in i and '잘먹' in i:
       aronamin.iloc[j,-1] = 1
    elif '아로나민' in i and '챙기자' in i:
       aronamin.iloc[j,-1] = 1

#부정



    elif '엑세라민비' in i or '먹어볼래' in i:
       aronamin.iloc[j,-1] = 2

    elif '로도' in i or '미비' in i:
       aronamin.iloc[j,-1] = 2
    
    elif '논란' in i or '부작용' in i:
       aronamin.iloc[j,-1] = 2

    elif '별로' in i or ' 안 ' in i:
       aronamin.iloc[j,-1] = 2 

    elif '옥타' in i or ' 없었 ' in i:
       aronamin.iloc[j,-1] = 2 

    elif '아로나민' in i and '단점' in i:
       aronamin.iloc[j,-1] = 2   
    else:
      aronamin.iloc[j,-1] = 3      
    
   
aronamin

                                               comment  label  label1
0                선물 깜짝선물 감동배 광동제약 아로나민골드 똥지니용지니옴팡이 이정도      1       1
1       나도 이제 먹어볼래 피로회복제 아로나민골드 아로나민씨플러스 느낌적인느낌 인지 몰라도      1       1
2                  여의도점 대청소날    깨끗한 환경을 위해 항상 쾌적하게          3       3
3       동탄에서 강릉갔다가 아쉬워서 춘천와서 닭갈비회쟁반막국수수육옛날통닭먹고 컴백홈했쥬        3       3
4             아로나민 덕분에 난 지하철 사연녀가 되었ㄷ  조우진 배우와 함께하는 아로      3       3
..                                                 ...    ...     ...
494                                            본격 일 차       3       3
495  월 일부터 빠졌던 옷소매 붉은끝동거의 달 내내 책과 드라마에 빠져 지냈다 책만 산게...      3       1
496                                     아로나민골드가격 알아보아요      1       3
497  현재 체중  영양제  아로나민골드 센트룸 아침  프렌치카페 하프칼로리 바나나점심  ...      1       1
498  안녕하세요요리하는영이입니다  오늘은 베이컨마늘볶음밥준비해보았습니다너무나도 간단한 볶...      3       1

[490 rows x 3 columns]

In [ ]:
len(aronamin[(aronamin['label'] == 1)])

193

In [ ]:
aronamin.to_excel('aronamin_labled_added.xlsx')

In [ ]:
'선물' in aronamin['comment'][0]

True

In [ ]:
df=pd.DataFrame()

In [ ]:
aronamin['label1']

0       1
1       1
2       3
3       3
4       3
       ..
6381    2
6382    1
6383    1
6384    3
6385    1
Name: label1, Length: 6386, dtype: int64

In [ ]:
for i in aronamin['comment']:
    if '선물' in i or '필요해' in i:
       aronamin.remove(i)