# 데이터 불러오기 및 확인

In [29]:
import pandas as pd

df = pd.read_csv('C:/Users/gigic/ds_study/novel.csv', encoding = 'utf-8')
df1 = pd.read_csv('C:/Users/gigic/ds_study/novel1.csv', encoding = 'utf-8')
df3 = pd.read_csv('C:/Users/gigic/ds_study/novel3.csv', encoding = 'utf-8')
df4 = pd.read_csv('C:/Users/gigic/ds_study/novel4.csv', encoding = 'utf-8')
df5 = pd.read_csv('C:/Users/gigic/ds_study/novel5.csv', encoding = 'utf-8')

In [31]:
# df.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거
# df1.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거
# df3.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거
# df4.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거

In [33]:
print(len(df4))
print(len(df3))
print(len(df1))
print(len(df))
print(len(df5))

108160
95696
497908
100587
248310

In [34]:
print(len(df['comment'].unique()))
print(len(df1['comment'].unique()))
print(len(df3['comment'].unique()))
print(len(df4['comment'].unique()))

77359
78315
75316
82123

In [36]:
df_concat = pd.concat([df3,df,df1,df4, df5], ignore_index=True)

In [38]:
alpha = df_concat.copy()

In [39]:
#alpha[alpha.duplicated()]
#alpha.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거

In [40]:
alpha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050661 entries, 0 to 1050660
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1050661 non-null  int64
 1   date        1050661 non-null  object
 2   nick_name   1050650 non-null  object
 3   comment     1050661 non-null  object
dtypes: int64(1), object(3)
memory usage: 32.1+ MB

In [41]:
del alpha['Unnamed: 0']
alpha.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거
alpha.head()

,date,nick_name,comment
0,2022-07-14T21:36:52+0900,용용,💮개꼴리는 장일소
1,2022-07-14T21:36:27+0900,원,가슴이 웅장해진다는 말은 이럴 때 쓰는 거구나…. 비가 당신의 필력에 등선합니다
2,2022-07-14T21:36:09+0900,한여울,종남의 유일한 양심 이송백....
3,2022-07-14T21:35:40+0900,갱,📌백천이 장문인 계승 요청
4,2022-07-14T21:33:18+0900,파문전사,세상 그 누구도 청명이의 손에서 화산을 빼았을 수는 없어...진짜로...맞아...진...

# 전처리 구역

In [21]:
alpha[alpha['nick_name'].isnull()]

,date,nick_name,comment
49455,2022-06-09T19:54:22+0900,NaN,진심 소설읽으면서 현웃터지며가 읽는건 이게처음ㅋㅋㅋㅋㅋㅋ필력무엇?
53690,2022-06-06T18:14:18+0900,NaN,"진짜 필력 무엇? 천상계사람이네 ㅋㅋㅋ이해안되는 상황,문장,단어 한개도 없네 굿잡"

In [22]:
#alpha['date'] = alpha['date'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")
alpha['date'] = alpha['date'].str.replace("T"," ")
# for i in  range(len(alpha['date'])):
#     alpha['date'][i] = alpha['date'][i][:-5]
alpha['date']=alpha['date'].apply(lambda x : x[:-5])

In [23]:
len(alpha['comment'].unique())

87544

In [24]:
# 시계열 전처리
alpha['date1']=alpha['date'].apply(lambda x : x[:-9])
#total_data['연']=total_data['날짜'].apply(lambda x : x[:4])
#impacta['날짜'] = pd.to_datetime(impacta['날짜'], format='%Y%m%d')
#total_data['날짜']=total_data['날짜'].astype(str)
# impacta['연월'] = impacta['날짜'].dt.date
# impacta['연'] = impacta['날짜'].dt.year
# impacta['월'] = impacta['날짜'].dt.month

# 데이터값 전처리
#del bmax['Unnamed: 0']
#alpha.drop_duplicates(subset = ['comment'], inplace=True) # 중복 제거
# bmax['내용'] = bmax['내용'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","") # 정규 표현식 수행
# bmax['내용'].replace('', np.nan, inplace=True) # 공백은 Null 값으로 변경
# aro.dropna(how= 'any', inplace = True

In [26]:
alpha.tail()

,date,nick_name,comment,date1
919689,2022-05-08 19:42:24,꼬깔낭자,이 검은 이별의 선물? 노노비싼거 ㅋㅋㅋ,2022-05-08
919690,2022-05-08 19:41:40,ll,아이고 우리 리틀 장무닌ㅜ,2022-05-08
919691,2022-05-08 19:40:43,펭코,📌......난세가 뭔지도 모르는 것들이.천마가 올 거예요.,2022-05-08
919693,2022-05-08 19:39:26,dkfu****,걸아😊,2022-05-08
919694,2022-05-08 19:39:20,esto****,아평..아명을 부르는 매화검존.좀 슬프고 아릴듯하네요. 다늙어버린 이의 영웅이란게...,2022-05-08

In [42]:
alpha.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98296 entries, 0 to 1027854
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       98296 non-null  object
 1   nick_name  98294 non-null  object
 2   comment    98296 non-null  object
dtypes: object(3)
memory usage: 3.0+ MB

## 감성분석