# ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° í™•ì¸

In [29]:
import pandas as pd

df = pd.read_csv('C:/Users/gigic/ds_study/novel.csv', encoding = 'utf-8')
df1 = pd.read_csv('C:/Users/gigic/ds_study/novel1.csv', encoding = 'utf-8')
df3 = pd.read_csv('C:/Users/gigic/ds_study/novel3.csv', encoding = 'utf-8')
df4 = pd.read_csv('C:/Users/gigic/ds_study/novel4.csv', encoding = 'utf-8')
df5 = pd.read_csv('C:/Users/gigic/ds_study/novel5.csv', encoding = 'utf-8')

In [31]:
# df.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°
# df1.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°
# df3.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°
# df4.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°

In [33]:
print(len(df4))
print(len(df3))
print(len(df1))
print(len(df))
print(len(df5))

108160
95696
497908
100587
248310

In [34]:
print(len(df['comment'].unique()))
print(len(df1['comment'].unique()))
print(len(df3['comment'].unique()))
print(len(df4['comment'].unique()))

77359
78315
75316
82123

In [36]:
df_concat = pd.concat([df3,df,df1,df4, df5], ignore_index=True)

In [38]:
alpha = df_concat.copy()

In [39]:
#alpha[alpha.duplicated()]
#alpha.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°

In [40]:
alpha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050661 entries, 0 to 1050660
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1050661 non-null  int64
 1   date        1050661 non-null  object
 2   nick_name   1050650 non-null  object
 3   comment     1050661 non-null  object
dtypes: int64(1), object(3)
memory usage: 32.1+ MB

In [41]:
del alpha['Unnamed: 0']
alpha.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°
alpha.head()

,date,nick_name,comment
0,2022-07-14T21:36:52+0900,ìš©ìš©,ğŸ’®ê°œê¼´ë¦¬ëŠ” ì¥ì¼ì†Œ
1,2022-07-14T21:36:27+0900,ì›,ê°€ìŠ´ì´ ì›…ì¥í•´ì§„ë‹¤ëŠ” ë§ì€ ì´ëŸ´ ë•Œ ì“°ëŠ” ê±°êµ¬ë‚˜â€¦. ë¹„ê°€ ë‹¹ì‹ ì˜ í•„ë ¥ì— ë“±ì„ í•©ë‹ˆë‹¤
2,2022-07-14T21:36:09+0900,í•œì—¬ìš¸,ì¢…ë‚¨ì˜ ìœ ì¼í•œ ì–‘ì‹¬ ì´ì†¡ë°±....
3,2022-07-14T21:35:40+0900,ê°±,ğŸ“Œë°±ì²œì´ ì¥ë¬¸ì¸ ê³„ìŠ¹ ìš”ì²­
4,2022-07-14T21:33:18+0900,íŒŒë¬¸ì „ì‚¬,ì„¸ìƒ ê·¸ ëˆ„êµ¬ë„ ì²­ëª…ì´ì˜ ì†ì—ì„œ í™”ì‚°ì„ ë¹¼ì•˜ì„ ìˆ˜ëŠ” ì—†ì–´...ì§„ì§œë¡œ...ë§ì•„...ì§„...

# ì „ì²˜ë¦¬ êµ¬ì—­

In [21]:
alpha[alpha['nick_name'].isnull()]

,date,nick_name,comment
49455,2022-06-09T19:54:22+0900,NaN,ì§„ì‹¬ ì†Œì„¤ì½ìœ¼ë©´ì„œ í˜„ì›ƒí„°ì§€ë©°ê°€ ì½ëŠ”ê±´ ì´ê²Œì²˜ìŒã…‹ã…‹ã…‹ã…‹ã…‹ã…‹í•„ë ¥ë¬´ì—‡?
53690,2022-06-06T18:14:18+0900,NaN,"ì§„ì§œ í•„ë ¥ ë¬´ì—‡? ì²œìƒê³„ì‚¬ëŒì´ë„¤ ã…‹ã…‹ã…‹ì´í•´ì•ˆë˜ëŠ” ìƒí™©,ë¬¸ì¥,ë‹¨ì–´ í•œê°œë„ ì—†ë„¤ êµ¿ì¡"

In [22]:
#alpha['date'] = alpha['date'].str.replace("[^ã„±-ã…ã…-ã…£ê°€-í£ ]","")
alpha['date'] = alpha['date'].str.replace("T"," ")
# for i in  range(len(alpha['date'])):
#     alpha['date'][i] = alpha['date'][i][:-5]
alpha['date']=alpha['date'].apply(lambda x : x[:-5])

In [23]:
len(alpha['comment'].unique())

87544

In [24]:
# ì‹œê³„ì—´ ì „ì²˜ë¦¬
alpha['date1']=alpha['date'].apply(lambda x : x[:-9])
#total_data['ì—°']=total_data['ë‚ ì§œ'].apply(lambda x : x[:4])
#impacta['ë‚ ì§œ'] = pd.to_datetime(impacta['ë‚ ì§œ'], format='%Y%m%d')
#total_data['ë‚ ì§œ']=total_data['ë‚ ì§œ'].astype(str)
# impacta['ì—°ì›”'] = impacta['ë‚ ì§œ'].dt.date
# impacta['ì—°'] = impacta['ë‚ ì§œ'].dt.year
# impacta['ì›”'] = impacta['ë‚ ì§œ'].dt.month

# ë°ì´í„°ê°’ ì „ì²˜ë¦¬
#del bmax['Unnamed: 0']
#alpha.drop_duplicates(subset = ['comment'], inplace=True) # ì¤‘ë³µ ì œê±°
# bmax['ë‚´ìš©'] = bmax['ë‚´ìš©'].str.replace("[^ã„±-ã…ã…-ã…£ê°€-í£ ]","") # ì •ê·œ í‘œí˜„ì‹ ìˆ˜í–‰
# bmax['ë‚´ìš©'].replace('', np.nan, inplace=True) # ê³µë°±ì€ Null ê°’ìœ¼ë¡œ ë³€ê²½
# aro.dropna(how= 'any', inplace = True

In [26]:
alpha.tail()

,date,nick_name,comment,date1
919689,2022-05-08 19:42:24,ê¼¬ê¹”ë‚­ì,ì´ ê²€ì€ ì´ë³„ì˜ ì„ ë¬¼? ë…¸ë…¸ë¹„ì‹¼ê±° ã…‹ã…‹ã…‹,2022-05-08
919690,2022-05-08 19:41:40,ll,ì•„ì´ê³ ìš°ë¦¬ ë¦¬í‹€ ì¥ë¬´ë‹Œã…œ,2022-05-08
919691,2022-05-08 19:40:43,í­ì½”,ğŸ“Œ......ë‚œì„¸ê°€ ë­”ì§€ë„ ëª¨ë¥´ëŠ” ê²ƒë“¤ì´.ì²œë§ˆê°€ ì˜¬ ê±°ì˜ˆìš”.,2022-05-08
919693,2022-05-08 19:39:26,dkfu****,ê±¸ì•„ğŸ˜Š,2022-05-08
919694,2022-05-08 19:39:20,esto****,ì•„í‰..ì•„ëª…ì„ ë¶€ë¥´ëŠ” ë§¤í™”ê²€ì¡´.ì¢€ ìŠ¬í”„ê³ ì•„ë¦´ë“¯í•˜ë„¤ìš”. ë‹¤ëŠ™ì–´ë²„ë¦° ì´ì˜ ì˜ì›…ì´ë€ê²Œ...,2022-05-08

In [42]:
alpha.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98296 entries, 0 to 1027854
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       98296 non-null  object
 1   nick_name  98294 non-null  object
 2   comment    98296 non-null  object
dtypes: object(3)
memory usage: 3.0+ MB

## ê°ì„±ë¶„ì„