In [9]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib

#-*- encoding: utf-8 -*-

In [2]:
pop_seoul = pd.read_excel('./data/seoul_population.xls')

In [4]:
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021.2/4,합계,4405638,9795426,4756178,5039248,9565990,4649442,4916548,229436,106736,122700,2.17,1576971
3,2021.2/4,종로구,73525,155106,75009,80097,146029,70985,75044,9077,4024,5053,1.99,27605
4,2021.2/4,중구,62897,132259,64526,67733,123016,60019,62997,9243,4507,4736,1.96,23980

In [8]:
pop_seoul = pd.read_excel('./data/seoul_population.xls', header=2, usecols= "B, D, G, J, N")
pop_seoul.head(15)

     자치구        계      계.1     계.2  65세이상고령자
0     합계  9795426  9565990  229436   1576971
1    종로구   155106   146029    9077     27605
2     중구   132259   123016    9243     23980
3    용산구   240665   226378   14287     38884
4    성동구   295767   289162    6605     45591
5    광진구   355306   342481   12825     50815
6   동대문구   352259   338040   14219     61262
7    중랑구   394679   389972    4707     70172
8    성북구   443206   433658    9548     73568
9    강북구   306093   302645    3448     63383
10   도봉구   322419   320365    2054     62894
11   노원구   520005   515997    4008     86697
12   은평구   479409   475371    4038     85921
13  서대문구   317699   307070   10629     53627
14   마포구   379984   370132    9852     53891

In [7]:
pop_seoul.rename(
        columns= {
            pop_seoul.columns[0]: "구별",
            pop_seoul.columns[1]: "인구수",
             pop_seoul.columns[2]: "한국인",
             pop_seoul.columns[3]: "외국인",
             pop_seoul.columns[4]: "고령자"
            
        }, inplace=True)
pop_seoul.tail()

     구별     인구수     한국인    외국인    고령자
21  관악구  502698  488800  13898  78647
22  서초구  422174  418407   3767  60395
23  강남구  536107  531375   4732  76184
24  송파구  664341  658670   5671  95164
25  강동구  469094  465209   3885  72275

In [11]:
pd.Series()

Series([], dtype: float64)

In [12]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
pd.Series([1,2,3,4], dtype= float)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [15]:
bool(0.0)

False

In [16]:
bool(())

False

In [17]:
bool([])

False

In [18]:
bool(0)

False

In [19]:
bool({})

False

In [20]:
bool("")

False

In [21]:
bool([0])

True

In [23]:
4f =  ["1", 2, '5', ["Data", "Science"]]
4f

SyntaxError: invalid syntax (<ipython-input-23-140cee61963a>, line 1)