In [ ]:
import pandas as pd
# MLPRegressor
from sklearn.neural_network import MLPRegressor

# hidden_layer_sizes: 히든 노트의 수 설정
# activation: {'identity', 'logistic', 'tanh', 'relu'}
# batch_size: 한번에 학습할 때 몇 개씩 학습할 건지 설정


from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error
import math
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 데이터 불러오기

In [ ]:
filepath = '/content/drive/Shareddrives/팔당댐/combined_data/combined_train_test_filled_cleansed.csv'
df = pd.read_csv(filepath, index_col='ymdhm', parse_dates=['ymdhm'])
df

,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630,rf_10184100,rf_10184110,rf_10184140
ymdhm,,,,,,,,,,,,,,,,,
2012-05-01 00:00:00,24.800,555.00,219.07,24.93,555.00,445.0,310.7,469.05,300.2,0.0,290.0,729.80,275.3,540.18,0.0,0.0,0.0
2012-05-01 00:10:00,24.794,464.60,218.86,25.15,562.90,449.0,314.7,498.00,300.2,0.0,290.0,731.48,275.3,540.18,0.0,0.0,0.0
2012-05-01 00:20:00,24.789,478.10,218.69,25.31,576.40,451.0,313.7,490.68,301.2,0.0,290.0,726.42,275.3,540.18,0.0,0.0,0.0
2012-05-01 00:30:00,24.789,464.80,218.69,25.31,563.10,452.0,311.7,476.21,301.2,0.0,290.0,726.42,276.3,552.17,0.0,0.0,0.0
2012-05-01 00:40:00,24.789,478.10,218.69,25.31,576.40,450.0,311.7,476.21,301.2,0.0,291.0,707.17,277.3,564.29,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:10:00,25.040,259.23,212.86,31.14,259.23,510.0,288.0,319.84,295.0,0.0,299.0,-456.41,306.0,974.40,0.0,0.0,0.0
2022-07-18 23:20:00,25.040,260.46,212.86,31.14,260.46,492.0,287.0,314.01,303.0,0.0,304.0,-717.30,308.0,1006.88,0.0,0.0,0.0
2022-07-18 23:30:00,25.040,259.37,212.86,31.14,259.37,475.0,299.0,387.55,307.0,0.0,309.0,-843.37,310.0,1039.90,0.0,0.0,0.0
2022-07-18 23:40:00,25.040,259.13,212.86,31.14,259.13,458.0,309.0,454.91,311.0,0.0,314.0,-1023.37,312.0,1073.46,0.0,0.0,0.0
2022-07-18 23:50:00,25.040,258.16,212.86,31.14,258.16,442.0,326.0,582.21,314.0,0.0,317.0,-1049.44,313.0,1090.45,0.0,0.0,0.0

In [ ]:
df.describe()

,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630,rf_10184100,rf_10184110,rf_10184140
count,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.0,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000,276336.000000
mean,25.079251,548.548083,219.425047,24.575537,542.036770,345.631700,329.232797,746.826551,316.071760,0.0,312.590404,600.970021,299.979812,1056.807758,0.034074,0.038265,0.035985
std,0.146126,1110.978412,9.912109,9.911699,1104.317791,174.250734,76.559900,1077.388189,67.495669,0.0,63.883452,1376.848129,51.442783,1428.279212,0.338607,0.370553,0.360769
min,23.993000,-807.500000,176.380000,2.150000,-222.000000,39.000000,259.700000,243.290000,246.200000,0.0,247.000000,-3522.710000,241.300000,212.040000,0.000000,0.000000,0.000000
25%,24.980000,127.417500,211.770000,14.670000,132.000000,192.000000,287.700000,319.840000,278.200000,0.0,275.000000,205.082500,267.300000,449.120000,0.000000,0.000000,0.000000
50%,25.100000,249.570000,217.630000,26.370000,174.980000,324.000000,307.000000,441.000000,297.200000,0.0,295.000000,355.980000,286.300000,679.420000,0.000000,0.000000,0.000000
75%,25.190000,530.000000,229.330000,32.230000,505.000000,487.000000,342.700000,725.690000,330.200000,0.0,328.000000,709.710000,316.300000,1142.220000,0.000000,0.000000,0.000000
max,25.449000,25991.500000,241.850000,67.620000,25791.500000,842.000000,1287.700000,9405.640000,1146.200000,0.0,1080.000000,25289.170000,843.300000,29854.120000,24.000000,21.000000,24.000000

In [ ]:
df.isnull().sum()

swl            0
inf            0
sfw            0
ecpc           0
tototf         0
tide_level     0
wl_1018662     0
fw_1018662     0
wl_1018680     0
fw_1018680     0
wl_1018683     0
fw_1018683     0
wl_1019630     0
fw_1019630     0
rf_10184100    0
rf_10184110    0
rf_10184140    0
dtype: int64

- 상호연관성이 높은 swl, sfw, ecpc 중에서 sfw 변수만 사용
- 상호연관성이 높은 tototf, inf 중에서 tototf 변수만 사용
- tide_level 변수 사용
- fw, wl, 강수량 변수 모두 사용

In [ ]:
# fw_1018680는 원래 없는 자료이므로 삭제
# df.drop('fw_1018680', axis=1, inplace=True)
# df.drop('swl', axis=1, inplace=True)
# df.drop('ecpc', axis=1, inplace=True)
# df.drop('inf', axis=1, inplace=True)

In [ ]:
df

,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630,rf_10184100,rf_10184110,rf_10184140
ymdhm,,,,,,,,,,,,,,,,,
2012-05-01 00:00:00,24.800,555.00,219.07,24.93,555.00,445.0,310.7,469.05,300.2,0.0,290.0,729.80,275.3,540.18,0.0,0.0,0.0
2012-05-01 00:10:00,24.794,464.60,218.86,25.15,562.90,449.0,314.7,498.00,300.2,0.0,290.0,731.48,275.3,540.18,0.0,0.0,0.0
2012-05-01 00:20:00,24.789,478.10,218.69,25.31,576.40,451.0,313.7,490.68,301.2,0.0,290.0,726.42,275.3,540.18,0.0,0.0,0.0
2012-05-01 00:30:00,24.789,464.80,218.69,25.31,563.10,452.0,311.7,476.21,301.2,0.0,290.0,726.42,276.3,552.17,0.0,0.0,0.0
2012-05-01 00:40:00,24.789,478.10,218.69,25.31,576.40,450.0,311.7,476.21,301.2,0.0,291.0,707.17,277.3,564.29,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:10:00,25.040,259.23,212.86,31.14,259.23,510.0,288.0,319.84,295.0,0.0,299.0,-456.41,306.0,974.40,0.0,0.0,0.0
2022-07-18 23:20:00,25.040,260.46,212.86,31.14,260.46,492.0,287.0,314.01,303.0,0.0,304.0,-717.30,308.0,1006.88,0.0,0.0,0.0
2022-07-18 23:30:00,25.040,259.37,212.86,31.14,259.37,475.0,299.0,387.55,307.0,0.0,309.0,-843.37,310.0,1039.90,0.0,0.0,0.0
2022-07-18 23:40:00,25.040,259.13,212.86,31.14,259.13,458.0,309.0,454.91,311.0,0.0,314.0,-1023.37,312.0,1073.46,0.0,0.0,0.0
2022-07-18 23:50:00,25.040,258.16,212.86,31.14,258.16,442.0,326.0,582.21,314.0,0.0,317.0,-1049.44,313.0,1090.45,0.0,0.0,0.0

# data shift 하고 train, test 데이터 나누기

In [ ]:
sub = pd.read_csv('/content/drive/Shareddrives/팔당댐/competition_data/sample_submission.csv',index_col=0)

In [ ]:
sub.head()

                  wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2022-06-01 00:00           0           0           0           0
2022-06-01 00:10           0           0           0           0
2022-06-01 00:20           0           0           0           0
2022-06-01 00:30           0           0           0           0
2022-06-01 00:40           0           0           0           0

In [ ]:
df.sort_index(inplace=True)
sub.sort_index(inplace=True)

In [ ]:
label = df.loc[:,sub.columns]
data = df.drop(sub.columns,axis=1)

In [ ]:
label

                     wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2012-05-01 00:00:00       310.7       300.2       290.0       275.3
2012-05-01 00:10:00       314.7       300.2       290.0       275.3
2012-05-01 00:20:00       313.7       301.2       290.0       275.3
2012-05-01 00:30:00       311.7       301.2       290.0       276.3
2012-05-01 00:40:00       311.7       301.2       291.0       277.3
...                         ...         ...         ...         ...
2022-07-18 23:10:00       288.0       295.0       299.0       306.0
2022-07-18 23:20:00       287.0       303.0       304.0       308.0
2022-07-18 23:30:00       299.0       307.0       309.0       310.0
2022-07-18 23:40:00       309.0       311.0       314.0       312.0
2022-07-18 23:50:00       326.0       314.0       317.0       313.0

[276336 rows x 4 columns]

In [ ]:
data

,swl,inf,sfw,ecpc,tototf,tide_level,fw_1018662,fw_1018680,fw_1018683,fw_1019630,rf_10184100,rf_10184110,rf_10184140
ymdhm,,,,,,,,,,,,,
2012-05-01 00:00:00,24.800,555.00,219.07,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0
2012-05-01 00:10:00,24.794,464.60,218.86,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0
2012-05-01 00:20:00,24.789,478.10,218.69,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0
2012-05-01 00:30:00,24.789,464.80,218.69,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0
2012-05-01 00:40:00,24.789,478.10,218.69,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-18 23:10:00,25.040,259.23,212.86,31.14,259.23,510.0,319.84,0.0,-456.41,974.40,0.0,0.0,0.0
2022-07-18 23:20:00,25.040,260.46,212.86,31.14,260.46,492.0,314.01,0.0,-717.30,1006.88,0.0,0.0,0.0
2022-07-18 23:30:00,25.040,259.37,212.86,31.14,259.37,475.0,387.55,0.0,-843.37,1039.90,0.0,0.0,0.0
2022-07-18 23:40:00,25.040,259.13,212.86,31.14,259.13,458.0,454.91,0.0,-1023.37,1073.46,0.0,0.0,0.0
2022-07-18 23:50:00,25.040,258.16,212.86,31.14,258.16,442.0,582.21,0.0,-1049.44,1090.45,0.0,0.0,0.0

In [ ]:
# data와 label 하나 밀어주기 (과거데이터를 사용해야 함으로)
y = label.reset_index(drop=True)
X = data.reset_index(drop=True)

X.index += 1

tot=pd.concat((X,y),axis=1)
tot=tot.sort_index()

tot=tot.iloc[1:-1]

label = tot.loc[:,sub.columns]
data = tot.drop(sub.columns,axis=1)

In [ ]:
train_label=label.iloc[:-len(sub),:]
test_label=label.iloc[-len(sub):,:]

train_data=data.iloc[:-len(sub),:]
test_data=data.iloc[-len(sub):,:]

In [ ]:
train_data # ~2022-05-31까지

,swl,inf,sfw,ecpc,tototf,tide_level,fw_1018662,fw_1018680,fw_1018683,fw_1019630,rf_10184100,rf_10184110,rf_10184140
1,24.800,555.00,219.07,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0
2,24.794,464.60,218.86,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0
3,24.789,478.10,218.69,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0
4,24.789,464.80,218.69,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0
5,24.789,478.10,218.69,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
269419,25.180,140.89,217.99,26.01,140.89,232.0,314.01,0.0,597.98,471.08,0.0,0.0,0.0
269420,25.180,140.94,217.99,26.01,140.94,220.0,285.72,0.0,575.57,493.58,0.0,0.0,0.0
269421,25.180,141.07,217.99,26.01,141.07,208.0,274.78,0.0,501.04,505.03,0.0,0.0,0.0
269422,25.180,141.01,217.99,26.01,141.01,196.0,269.40,0.0,425.89,505.03,0.0,0.0,0.0
269423,25.190,755.75,218.36,25.64,140.75,184.0,264.07,0.0,198.19,493.58,0.0,0.0,0.0

In [ ]:
test_data # 2022-06-01 ~

,swl,inf,sfw,ecpc,tototf,tide_level,fw_1018662,fw_1018680,fw_1018683,fw_1019630,rf_10184100,rf_10184110,rf_10184140
269424,25.19,140.56,218.36,25.64,140.56,173.0,269.40,0.0,70.09,482.26,0.0,0.0,0.0
269425,25.19,140.60,218.36,25.64,140.60,162.0,269.40,0.0,8.23,471.08,0.0,0.0,0.0
269426,25.19,140.78,218.36,25.64,140.78,151.0,280.22,0.0,28.82,449.12,0.0,0.0,0.0
269427,25.20,755.90,218.73,25.27,140.90,141.0,296.87,0.0,12.35,417.17,0.0,0.0,0.0
269428,25.19,0.00,218.36,25.64,140.94,130.0,302.53,0.0,53.52,386.43,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,25.04,865.96,212.86,31.14,259.30,528.0,319.84,0.0,25.27,926.70,0.0,0.0,0.0
276332,25.04,259.23,212.86,31.14,259.23,510.0,319.84,0.0,-456.41,974.40,0.0,0.0,0.0
276333,25.04,260.46,212.86,31.14,260.46,492.0,314.01,0.0,-717.30,1006.88,0.0,0.0,0.0
276334,25.04,259.37,212.86,31.14,259.37,475.0,387.55,0.0,-843.37,1039.90,0.0,0.0,0.0
276335,25.04,259.13,212.86,31.14,259.13,458.0,454.91,0.0,-1023.37,1073.46,0.0,0.0,0.0

# train, test 데이터 나누기 (X)
- 2022-05-31 까지 train
- 2022-06-01 부터 test 데이터로 사용

In [ ]:
#train_data = df.loc[:'2022-05-31',
#                 ['swl', 'inf', 'sfw', 'ecpc', 'tototf', 'tide_level', 'fw_1018662', 'fw_1018680', 
#                  'fw_1018683','fw_1019630', 'rf_10184100', 'rf_10184110', 'rf_10184140']]
#train_label = df.loc[:'2022-05-31',['wl_1018662', 'wl_1018680', 'wl_1018683', 'wl_1019630']]

# X_train, y_train

In [ ]:
#train_data

In [ ]:
#test_data = df.loc['2022-06-01':,  
#                   ['swl', 'inf', 'sfw', 'ecpc', 'tototf', 'tide_level', 'fw_1018662', 'fw_1018680', 
#                   'fw_1018683','fw_1019630', 'rf_10184100', 'rf_10184110', 'rf_10184140']]
#test_label = df.loc['2022-06-01': , ['wl_1018662', 'wl_1018680', 'wl_1018683', 'wl_1019630']]

# X_test, y_test

In [ ]:
#test_data

# 모델 학습

In [ ]:
# MLPRegressor
# hidden_layer_sizes: 히든 노트의 수 설정
# activation: {'identity', 'logistic', 'tanh', 'relu'}
# batch_size: 한번에 학습할 때 몇 개씩 학습할 건지 설정
# solver : {'lbfgs', 'sgd', 'adam'}
mlp_regr = MLPRegressor(hidden_layer_sizes=(100, 50, 10),
                        activation='relu',
                       solver='lbfgs',
                        max_iter = 500)

# param_grid = [{'n_neighbors': range(15,30)}]
# grid_cv = GridSearchCV(estimator=knn, param_grid=param_grid, scoring='r2', cv=5, n_jobs=-1)
# grid_cv.fit(train_data, train_label)
# print('최적 하이퍼 파라미터:', grid_cv.best_params_)
# print('최적 예측 정확도:', grid_cv.best_score_)

mlp_regr.fit(train_data, train_label)
y_pred = mlp_regr.predict(test_data)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

# 모델 성능

In [ ]:
# train rmse
train_predict = mlp_regr.predict(train_data)
print("RMSE':{}".format(math.sqrt(mean_squared_error(train_predict, train_label))))
 
# test rmse
y_preds_rnd = mlp_regr.predict(test_data)
print("RMSE':{}".format(math.sqrt(mean_squared_error(test_label, y_preds_rnd))))

RMSE':5.596724108404714
RMSE':5.503330522388674

In [ ]:
r2_score_train = mlp_regr.score(train_data, train_label)
print('훈련세트에서의 R^2 점수 : {0:2f}'.format(r2_score_train))

훈련세트에서의 R^2 점수 : 0.992373

In [ ]:
r2_score = mlp_regr.score(test_data, test_label)
print('테스트세트에서의 R^2 점수 : {0:2f}'.format(r2_score))

테스트세트에서의 R^2 점수 : 0.995061

# 테스트세트 예측결과 샘플 출력

In [ ]:
test_label['wl_1018662']
test_label['wl_1018680']
test_label['wl_1018683']
test_label['wl_1019630']

269424    269.0
269425    267.0
269426    264.0
269427    261.0
269428    259.0
          ...
276331    306.0
276332    308.0
276333    310.0
276334    312.0
276335    313.0
Name: wl_1019630, Length: 6912, dtype: float64

# 예측

In [ ]:
pred_df = pd.DataFrame(y_preds_rnd)
pred_df.head()

            0           1           2           3
0  281.906690  275.415857  274.026590  269.652268
1  281.792307  274.475707  272.995280  268.110660
2  283.652364  274.638266  272.834233  266.492327
3  286.756708  275.207509  272.961269  264.565267
4  287.452178  274.960107  272.403843  262.809987

In [ ]:
pred_df.shape

(6912, 4)

# 제출양식

In [ ]:
sub_df = pd.read_csv('/content/drive/Shareddrives/팔당댐/competition_data/sample_submission.csv',index_col=0)
sub_df.head()

                  wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2022-06-01 00:00           0           0           0           0
2022-06-01 00:10           0           0           0           0
2022-06-01 00:20           0           0           0           0
2022-06-01 00:30           0           0           0           0
2022-06-01 00:40           0           0           0           0

In [ ]:
sub_df.shape

(6912, 4)

In [ ]:
sub_df['wl_1018662'] = pred_df[0]
sub_df['wl_1018680'] = pred_df[1]
sub_df['wl_1018683'] = pred_df[2]
sub_df['wl_1019630'] = pred_df[3]

In [ ]:
sub_df.head()

                  wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2022-06-01 00:00         NaN         NaN         NaN         NaN
2022-06-01 00:10         NaN         NaN         NaN         NaN
2022-06-01 00:20         NaN         NaN         NaN         NaN
2022-06-01 00:30         NaN         NaN         NaN         NaN
2022-06-01 00:40         NaN         NaN         NaN         NaN

In [ ]:
sub_df = sub_df.astype(float)

In [ ]:
pred_df.columns = sub_df.columns

In [ ]:
pred_df.index = sub_df.index

In [ ]:
pred_df.head()

                  wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2022-06-01 00:00  278.874786  270.789833  271.687793  268.840784
2022-06-01 00:10  280.320228  270.379655  271.370546  267.525091
2022-06-01 00:20  282.419669  269.962359  270.782811  265.805980
2022-06-01 00:30  285.229215  278.080418  273.599105  263.698724
2022-06-01 00:40  285.852186  271.911751  269.361298  260.270298

In [ ]:
#pred_df.to_csv('/content/drive/Shareddrives/팔당댐/제출/KNN_Regression.csv')

In [ ]:
pred_df.to_csv('/content/drive/MyDrive/팔당댐/MLP_Regression_relu_adam4.csv')

# 비교

In [ ]:
filename = '/content/drive/Shareddrives/팔당댐/combined_data/combined_train_test_filled.csv'
dff = pd.read_csv(filename, index_col='ymdhm', parse_dates=['ymdhm'])
dff.tail()

,swl,inf,sfw,ecpc,tototf,tide_level,wl_1018662,fw_1018662,wl_1018680,fw_1018680,wl_1018683,fw_1018683,wl_1019630,fw_1019630,rf_10184100,rf_10184110,rf_10184140
ymdhm,,,,,,,,,,,,,,,,,
2022-07-18 23:10:00,25.04,259.23,212.86,31.14,259.23,510.0,288.0,319.84,295.0,NaN,299.0,-456.41,306.0,974.40,0.0,0.0,0.0
2022-07-18 23:20:00,25.04,260.46,212.86,31.14,260.46,492.0,287.0,314.01,303.0,NaN,304.0,-717.30,308.0,1006.88,0.0,0.0,0.0
2022-07-18 23:30:00,25.04,259.37,212.86,31.14,259.37,475.0,299.0,387.55,307.0,NaN,309.0,-843.37,310.0,1039.90,0.0,0.0,0.0
2022-07-18 23:40:00,25.04,259.13,212.86,31.14,259.13,458.0,309.0,454.91,311.0,NaN,314.0,-1023.37,312.0,1073.46,0.0,0.0,0.0
2022-07-18 23:50:00,25.04,258.16,212.86,31.14,258.16,442.0,326.0,582.21,314.0,NaN,317.0,-1049.44,313.0,1090.45,0.0,0.0,0.0

In [ ]:
dff.loc['2022-06-01': , ['wl_1018662', 'wl_1018680', 'wl_1018683', 'wl_1019630']].head()

                     wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2022-06-01 00:00:00       279.0       276.0       274.0       269.0
2022-06-01 00:10:00       281.0       277.0       274.0       267.0
2022-06-01 00:20:00       284.0       277.0       274.0       264.0
2022-06-01 00:30:00       285.0       277.0       274.0       261.0
2022-06-01 00:40:00       284.0       278.0       274.0       259.0

In [ ]:
pred_df.head()

                  wl_1018662  wl_1018680  wl_1018683  wl_1019630
ymdhm
2022-06-01 00:00  279.833904  269.412443  270.740475  269.691634
2022-06-01 00:10  280.496005  269.239115  269.616622  269.012355
2022-06-01 00:20  282.268189  269.695716  269.827564  267.348790
2022-06-01 00:30  284.124172  273.118021  270.882801  262.894795
2022-06-01 00:40  285.871922  270.637532  269.924213  260.610661